<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h2>Thanks to sign up to the project, <%= @verifier.name %></h2>
    <hr />
    <br />
    <p>Completed the provisional registration with the contents you entered.<br />
      Please access under the URL for the registration, the registration will be complete.</p>
    <br />
    <p>URL for registration: <a href="<%= @url %>"><%= @url %></a></p>
  </body>
</html>
