<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h2>You were invited to "<%= @project_name %>" from <%= @user_name %></h2>
    <hr />
    <br />
    <p>Please access the URL below, you will be able to participate in the project.<br />
       If you do not have any idea, please discard this mail.</p>
    <br />
    <p>URL to the project participants: <a href="<%= @url %>"><%= @url %></a></p>
  </body>
</html>
