<% cache "site_header_ja" do %>
  <div id="header">
    <%= link_to 'Samepot', root_path, class: "logo" %>
    <ul class="right">
      <li><%= link_to t('sites.signup.title'), signup_path %></li>
      <li><a href="#features"><%= t 'sites.index.features' %></a></li>
      <!--<li><a href="/#plans"><%= t 'sites.index.plans' %></a></li>-->
    </ul>
  </div>
<% end %>
