<% cache "site_footer" do %>
  <div id="footer">
    <div class="footer-inner">
      <ul class="social">
        <li>
          <a class="twitter" href="https://twitter.com/yo_waka">Twitter</a>
        </li>
        <!--
        <li>
          <a class="facebook" href="#">Facebook</a>
        </li>
        <li>
          <a class="goog" href="#">Google+</a>
        </li>
        -->
      </ul>
      <span class="copyright">&copy; 2013- Samepot. All rights reserved.</span>
    </div>
  </div>
<% end %>
